Package: com.hamad.shield
Name: HamadShield
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Ultimate Protection Shield
Maintainer: Hamad
Author: The Architect
Section: Tweaks
